.product-container{
    width: 300px;
    height: 500px;
    background-color: rgba(221, 233, 233, 0.835);
    margin: 10px;
    border: 1px solid rgb(21, 18, 206);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(126, 120, 120, 0.342);
}
.product-container img{
    width: 286px;
    height: 300px;
    margin: 7px;
}
.product-info{
    margin:10px auto;
}