.all-products{
    margin: 3%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.selected-products{
    margin:20px;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}
.random-empty-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.random-empty-button button{
    margin: 20px;
    padding: 10px 30px;
    background-color: aquamarine;
    border-radius: 10px;
}
@media screen and (max-width:1300px) {
    .all-products{
        margin: 3%;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media screen and (max-width:900px) {
    .all-products{
        margin: 3%;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
@media screen and (max-width:600px) {
    .all-products{
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}